.breakdown {
    .chart {
        
        position: relative;
        
        .text {
            display: block;
            padding-top: 100%;
            position: relative;
            text-align: center;
            
            .value,
            .type {
                box-sizing: border-box;
                display: block;
                padding: 0 30px;
                position: absolute;
                top: 50%;
                width: 100%
            }
            
            .value {
                font-size: 30px;
                margin-top: -22px;
            }
            
            .type {
                margin-top: 2px;
            }
            
            color:  #666;
        }
        
        svg {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}